*.o
*.depends
*.swp
.kdbgrc.FMidiAutomation
#*#
CB
*~
*.fma
tags
.gitignore
FMidiAutomation
FMidiAutomation-messed.glade
FMidiAutomation-ok.glade
FMidiAutomation.glade.orig
OutputTest
google-perftools-1.6.tar.gz
google-perftools-1.6
libunwind
tags
core



